@*@using GadgetHub.Domain.Entities*@
@model GadgetHub.WebUI.Models.ProductsListViewModel

@{
	ViewBag.Title = "Gadgets";
}

@foreach (var p in Model.Gadgets)
{
	@Html.Partial("GadgetSummary", p)
	@*<div class="card p-3 bg-light text-dark mb-2 float-end">
		<h3>
			<strong>@p.Name</strong>
			<span class="badge bg-success float-end">Price = @p.Price.ToString("c")</span>
		</h3>
		<span class="lead">@p.Brand</span>
		<span class="lead">@p.Description</span>
	</div>*@
}

<div class="btn-group float-end">
	@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { Page = x, category = Model.CurrentCategory }))
</div>